*

{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

.full-page

{

    height: 80vh;

    width: 50%;

    background: darkblue;

    position: absolute;
    background-position:auto;

}

.sub-page

{

    width: 1266px;

    height: 559px;

    position: absolute;

    background: url(lumen1.jpg);

    

    background-position: center;

    left: 50px;

    top: 50px;

}
::-webkit-scrollbar{
    display:none;
}








.form-box

{

    width: 300px;

    height: 400px;

    position: relative;
    background-position: center;

    top: 50px;

    left: 120px;

    background: rgba(0,0,0,0.6);

}

.main-heading

{

    color: pink;

    padding-bottom: 20px;

}

.form

{

    position: relative;

    margin: 0 auto 100px;

    padding: 45px;

    text-align: center;

}

.form input

{

    font-family: sans-serif;

    outline: none;

    border: none;

    border-bottom: 1px solid black;

    width: 100%;

    margin: 0 0 15px;

    padding: 15px;

    font-size: 14px;

}

.form button

{

    font-family: sans-serif;

    width: 100%;

    color: white;

    font-size: 15px;

    cursor: pointer;

    padding: 15px;

    border: none;

    background: pink;
    text-shadow: black;
    background-attachment:fixed ;

}

.form .message

{

    font-size: 12px;

    margin: 15px 0 0;

    color: white;

}

.form .message a

{

    color: violet;

    text-decoration: none;

}

.form .register-form{

    display: none;

}

.defination

{

    text-align: left;

    font-size: 30px;

    color: white;

    font-family: 'Kaushan Script', cursive;

    padding-left: 60px;

}
